<div id="two-percent-landing">
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <h1>Lepšie digitálne služby štátu <strong>nie sú</strong> sci-fi</h1>
          <h3>Aj Vaše 2% nám pomôžu bojovať za lepší e-Government.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="row">
      <div class="col-md-9">
        <div class="lead">
          <p>
            &bdquo;Čo by ste urobili s miliardou EUR sme sa Vás už pýtali. <strong>A čo ak by ste z nej mohli darovať 2% pre&nbsp;dobrú
            vec?</strong> To je celých 20 miliónov, ktoré by ste mohli darovať organizáciam bojujúcim za&nbsp;lepší život
            občanov na&nbsp;Slovensku.
          </p>
          <p>
            Asi nikto z&nbsp;nás nemá na&nbsp;účte miliardu, <strong>no keď každý pomôže svojím kúskom</strong>, spolu dokážeme veľké veci.
            Ak sa Vám páči čo robíme, prosíme o&nbsp;Vašu podporu.&rdquo;
          </p>
        </div>

        <div class="row" id="heads">
          <div class="col-sm-4 pt-4">
            <img src="/img/two_percent/heads_3.png" class="img-responsive center-block" />
            <br/>
            <p class="lead">
              <em>Tím Slovensko.Digital</em>
            </p>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <a href="#ako-poukazat" id="cta-top" class="btn btn-lg btn-primary">Podporte nás 2% z dane</a>
          </div>
        </div>

        <div class="row success-item pt-5">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">
              Systematicky <strong>hodnotíme IT projekty</strong> a&nbsp;verejné obstarávania v&nbsp;hodnote takmer miliardy eur na&nbsp;<a target="_blank" href="https://redflags.slovensko.digital/"><strong>RedFlags.Slovensko.Digital</strong></a>
              a&nbsp;tlačíme na&nbsp;to, aby sa tie najproblémovejšie zastavili. Sústredíme sa aj na&nbsp;obstarávanie IT v&nbsp;regiónoch v&nbsp;našom projekte <a target="_blank" href="https://slovensko.digital/projekty/red-flags-5-0-sd-za"><strong>Red Flags 5.0: SD ZA Transparentné regióny</strong></a>.
              Výsledkom bude návod pre&nbsp;ostatné regióny, ako postupovať pri&nbsp;obstarávaní IT.
            </p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">
              Naša webová aplikácia <a target="_blank" href="https://priznanie.digital/"><strong>Priznanie.Digital</strong></a> pomáha živnostníkom odbúrať byrokraciu.
              Stačí <strong>pár klikov</strong> a&nbsp;SZČO, ktorá používa paušálne náklady, má vygenerované svoje <strong>daňové priznanie</strong>.
            </p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Na portáli <a target="_blank" href="https://navody.digital"><strong>Návody.Digital</strong></a> pomáhame zorientovať sa v&nbsp;slovenskej byrokracií, ušetriť čas strávený na&nbsp;Slovensko.sk a&nbsp;pomáhame s&nbsp;online riešením životných situácií.</p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Na našom portáli <a target="_blank" href="https://lepsiesluzby.sk/"><strong>Lepšie Služby</strong></a> môže každý upozorniť na&nbsp;problémy štátnych elektronických služieb, alebo zadať návrhy na&nbsp;ich zlepšenie.
              Každý podnet spracujeme a&nbsp;dohliadame na&nbsp;jeho riešenie zo&nbsp;strany zodpovedných úradov.
            </p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Chceme <strong>efektívny eGov</strong>. Podieľali sme sa na&nbsp;audite elektronických povinností úradov.</p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Spájame všetkých, ktorým záleží na&nbsp;čistejšom štátnom IT. Už
              <a target="_blank" href="https://slovensko.digital/clenovia"><strong>47 firiem a&nbsp;jednotlivcov</strong></a> je členom Slovensko.Digital. Vytvorili sme tiež
              <strong>najväčšiu komunitu</strong> IT odborníkov na&nbsp;Slovensku na&nbsp;<a target="_blank" href="https://platforma.slovensko.digital">platforma.slovensko.digital</a>.
            </p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Vytvárame <strong>expertné skupinky</strong> spomedzi členských firiem. Naša daňovo-odvodová skupinka sa aktívne zapája do&nbsp;legislatívnych procesov eFakturácie a&nbsp;ePN.</p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">
              Uľahčujeme život už <strong>takmer 700 podnikateľom</strong> vďaka našej službe <a target="_blank" href="https://ekosystem.slovensko.digital/sluzby/govbox"><strong>GovBox</strong></a>, cez ktorú sa dostanete k&nbsp;štátnej elektronickej pošte pohodlne cez&nbsp;email aj&nbsp;bez&nbsp;elektronického OP, či&nbsp;prihlasovania na&nbsp;Slovensko.sk.
              Vďaka našej službe <a target="_blank" href="https://ekosystem.slovensko.digital/sluzby/govbox-api"><strong>GovBox API</strong></a> vieme integrovať štátne správy aj&nbsp;na&nbsp;interný informačný systém.
            </p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Aj vďaka nám sa štátne IT otvorilo širšej verejnosti a&nbsp;strážime ho v&nbsp;pracovných skupinách na&nbsp;úradoch a&nbsp;prostredníctvom pripomienok.
              Dohliadame a&nbsp;pripomienkujeme <strong>legislatívne návrhy</strong>, aby sme dosiahli systémové zlepšenia.
            </p>
          </div>
        </div>

        <div class="row success-item">
          <div class="col-sm-1 icon">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </div>
          <div class="col-md-10">
            <p class="lead">Presadili sme <strong>prísnejšie pravidlá</strong> pre&nbsp;nové IT projekty a&nbsp;aj vďaka nám je jasné, kto dnes nesie za&nbsp;celú informatizáciu zodpovednosť.</p>
          </div>
        </div>

        <p><strong>Plánujeme mnoho ďalších aktivít a&nbsp;projektov, no bez&nbsp;Vašej podpory to nepôjde.</strong></p>
      </div>
    </div>
  </div>

  <div id="ako-poukazat" class="section main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 pt-5">
          <a id="udaje" class="anchor"></a>

          <div class="videowrapper">
            <iframe class="pb-5" src="https://www.youtube.com/embed/BuGhMI-bHNU" allowfullscreen frameborder="0"></iframe>
          </div>

          <h1 class="mb-5">Ako nám poukázať 2% z dane</h1>
          <h3><strong>Údaje pre darovanie 2% pre Slovensko.Digital:</strong></h3>
          <p>
            <strong>Názov:</strong> Slovensko.Digital<br/>
            <strong>Adresa:</strong> Staré Grunty 18, 84104 Bratislava<br/>
            <strong>IČO:</strong> 50158635<br/>
            <strong>Právna forma:</strong> Občianske združenie<br/>
            <strong>IBAN číslo účtu:</strong> SK0509000000005108658755<br />
            <strong>Kód banky:</strong> 0900 (Slovenská sporiteľňa , a.s.)
          </p>

          <h3><strong>Užitočné informácie pre darcov 2% z dane</strong></h3>

          <div class="panel-group" id="two-percent" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Ak ste zamestnanec
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p>
                    Svoje 2 % môžete venovať len vtedy, ak bola vaša daň za celý rok <%= (Date.today.year - 1).to_s %> vyššia ako 150 € (podiel Vašich 2 % teda musí byť minimálne 3 €). Zamestnávateľ vám túto sumu určite rád prezradí.
                  </p>
                  <ol>
                    <li>Najprv vám zamestnávateľ musí pripraviť ročné zúčtovanie zaplatených preddavkov na daň. Požiadajte ho oň najlepšie do 15. 2. <%= Date.today.year.to_s %>.</li>
                    <li>Požiadajte zamestnávateľa o vyplnenie <a target="_blank" href="https://www.podnikajte.sk/assets/prilohy-v-clankoch/2019-03-15-dve-percenta-potvrdenie-o-zaplateni-dane.pdf">potvrdenia o zaplatení dane</a>.</li>
                    <li>Potom vyplňte toto <a target="_blank" href="https://drive.google.com/file/d/1zQpSBhVbGprWjnST0txeQ9GVkJYPFlzf/view?usp=sharing">Vyhlásenie o poukázaní 2 %</a>.</li>
                    <li>Najneskôr do 30. apríla <%= Date.today.year.to_s %> doručte obidve tlačivá (z bodu 2. a 3.) daňovému úradu. V prípade poslania tlačív poštou platí dátum z pečiatky na obálke.</li>
                  </ol>
                  <br />
                  <p>
                    <strong>Ak ste v roku <%= (Date.today.year - 1).to_s %> odpracovali dobrovoľnícky minimálne 40 hodín, môžete poukázať až 3 % z odvedených daní.</strong> Musíte však od organizácie/prijímateľa dobrovoľníckej činnosti, pre ktorú/ktorého ste v roku <%= (Date.today.year - 1).to_s %> dobrovoľnícky pracovali, získať potvrdenie o odpracovaní minimálne 40 hodín dobrovoľníckej činnosti. Potvrdenie priložte k Potvrdeniu o zaplatení dane a k Vyhláseniu o poukázaní 2 % (3 %). Minimálne 40 hodín nemusíte odpracovať iba v prospech 1 organizácie, či jednotlivca – celkový počet môžete „vyskladať“ aj z práce pre viaceré organizácie.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Ak ste fyzická osoba a podávate si priznanie sami
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <p>Svoje 2 % môžete venovať len vtedy, ak bola vaša daň za celý rok <%= (Date.today.year - 1).to_s %> vyššia ako 150 € (podiel Vašich 2 % teda musí byť minimálne 3 €).</p>
                  <ol>
                    <li>Stiahnite si tlačivo na <a target="_blank" href="https://pfseform.financnasprava.sk/Formulare/eFormVzor/DP/form.545.html">daňové priznanie typu A (príjmy zo zamestnania a dohôd)</a> alebo <a target="_blank" href="https://pfseform.financnasprava.sk/Formulare/eFormVzor/DP/form.546.html">tlačivo typu B (živnostníci)</a>. Súčasťou tlačiva je aj oddiel Vyhlásenie o poukázaní 2 %. Pri tlačive typu A je to oddiel VIII. na strane 5, pri tlačive typu B je to oddiel XII. na strane 11. Vyplňte do tohto oddielu <a href="#udaje">údaje Slovensko.Digital</a>.</li>
                    <li>Pre živnostníkov s paušálnymi výdavkami (DPFO typ B) sme pripravili zjednodušené podanie daňové priznania ako aj poukázania 2% dane. Stačí si ho jednoducho vyklikať na stránke <a target="_blank" href="https://priznanie.digital">priznanie.digital</a>.</li>
                    <li>Do 31. marca <%= Date.today.year.to_s %> (prípadne do dátumu odloženého daňového priznania) doručte tlačivo <a target="_blank" href="https://www.financnasprava.sk/sk/elektronicke-sluzby/verejne-sluzby/zistenie-miestnej-prislusnost">daňovému úradu</a> a uhraďte daň. V prípade poslania tlačív poštou platí dátum z pečiatky na obálke.</li>
                  </ol>

                  <p>
                    <strong>Ak ste v roku <%= (Date.today.year - 1).to_s %> odpracovali dobrovoľnícky minimálne 40 hodín, môžete poukázať až 3 % z odvedených daní.</strong> Musíte však od organizácie/prijímateľa dobrovoľníckej činnosti, pre ktorú/ktorého ste v roku <%= (Date.today.year - 1).to_s %> dobrovoľnícky pracovali, získať potvrdenie o odpracovaní minimálne 40 hodín dobrovoľníckej činnosti. Potvrdenie priložte k Potvrdeniu o zaplatení dane a k Vyhláseniu o poukázaní 2 % (3 %). Minimálne 40 hodín nemusíte odpracovať iba v prospech 1 organizácie, či jednotlivca – celkový počet môžete „vyskladať“ aj z práce pre viaceré organizácie.</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ak ste právnická osoba
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <p>Svoje 2 % (prípadne 1 %) z dane môžete venovať, ak bola vaša daň za celý rok <%= (Date.today.year - 1).to_s %> vyššia ako 400 € (800 €). Podiel Vašich 2 % (prípadne 1 %) teda musí byť minimálne 8 €.</p>
                  <ol>
                    <li>Stiahnite si tlačivo na <a target="_blank" href="https://pfseform.financnasprava.sk/Formulare/eFormVzor/DP/form.547.html">daňové priznanie pre právnickú osobu</a>. Súčasťou tlačiva je aj VI. časť – Vyhlásenie o poukázaní podielu zaplatenej dane.</li>
                    <ul>
                      <li>Ak ste v roku <%= (Date.today.year - 1).to_s %> ako právnická osoba až do termínu na podanie daňového priznania v roku <%= Date.today.year.to_s %> (zvyčajne do 31. 3. <%= Date.today.year.to_s %>) nedarovali financie vo výške minimálne 0,5 % z dane na verejnoprospešný účel (akejkoľvek organizácii), tak môžete poukázať iba 1 % z dane – v daňovom priznaní vyplníte v časti VI. kolónky 1, 2, 4 a 5.</li>
                      <li>Ak ste v roku <%= (Date.today.year - 1).to_s %> ako právnická osoba až do termínu na podanie daňového priznania v roku <%= (Date.today.year - 1).to_s %> (zvyčajne do 31. 3. <%= Date.today.year.to_s %>) darovali financie vo výške minimálne 0,5 % z dane na verejnoprospešný účel (akejkoľvek organizácii), tak môžete poukázať 2 % z dane – v daňovom priznaní vyplníte v časti VI. kolónky 1, 2, 3 a 5.</li>
                    </ul>
                    <li>Do 31. marca <%= Date.today.year.to_s %> (prípadne do dátumu odloženého daňového priznania) doručte tlačivo <a target="_blank" href="https://www.financnasprava.sk/sk/elektronicke-sluzby/verejne-sluzby/zistenie-miestnej-prislusnost">daňovému úradu</a> a uhraďte daň.</li>
                  </ol>
                  <p>Ako právnická osoba môžete poukázať 1 % (2 %) aj viacerým prijímateľom. Platí však, že minimálna výška v prospech jedného prijímateľa je 8 €.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="minifooter">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-testimonials" data-slide-to="1"></li>
        <li data-target="#carousel-testimonials" data-slide-to="2"></li>
        <li data-target="#carousel-testimonials" data-slide-to="3"></li>
        <li data-target="#carousel-testimonials" data-slide-to="4"></li>
        <li data-target="#carousel-testimonials" data-slide-to="5"></li>
        <li data-target="#carousel-testimonials" data-slide-to="6"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/img/birthday/testimonials/maria_bielikova.jpg" class="center-block" alt="Prof. Mária Bieliková, riaditeľka Kempelenovho inštitútu inteligentných technológií">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Prof. Mária Bieliková, riaditeľka Kempelenovho inštitútu inteligentných technológií</h3>
              <p>
                Slovensku.Digital prinieslo iný nový veľmi cenný pohľad na to, ako sa dajú robiť veci. Prajem Slovensku, aby čo najlepšie využilo túto príležitosť pre spojenie celej IT komunity. Iba tak sa podari naplniť to, s čím Slovensko.Digital prišlo.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/birthday/testimonials/michal_mesko.jpg" class="center-block" alt="Michal Meško, Martinus.sk">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Michal Meško, Martinus.sk</h3>
              <p>
                Ak v tejto fáze nedokáže efektívne a transparentne zabezpečiť oblasť informatizácie a posunu do digitálnej éry štát samostatne, som veľmi rád, že sa dala dokopy partia ľudí, ktorí sú v tom odhodlaní pomáhať.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/birthday/testimonials/peter_skodny.jpg" class="center-block" alt="Peter Škodný">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Peter Škodný</h3>
              <p>
                Dávam pred Vami hlboko klobúk dole za to, čo ste zatiaľ dokázali.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/birthday/testimonials/sajfa.jpg" class="center-block" alt="Matej “Sajfa” Cifra, Fun Rádio">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Matej “Sajfa” Cifra, Fun Rádio</h3>
              <p>
                Slovensko sa musí dostať do 21. storočia technologicky a potom mentálne. Máme na to, byť slušná krajina, v ktorej veci fungujú a akýkoľvek projekt, ktorý k tomu dopomôže, treba podporovať.
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/birthday/testimonials/peter_gazik.jpg" class="center-block" alt="Peter Gažík, Telenor Magyarország">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Peter Gažík, Telenor Magyarország</h3>
              <p>
                Slovensko.Digital sa snaží meniť Slovensko na lepšiu, transparentnejšiu a modernejšiu krajinu. Naviac, nestavia sa len do roly pozorovateľa a komentátora, ale nebojí sa vyhrnúť si rukávy, reálne vstupovať do diania a prebrať zodpovednosť.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/img/birthday/testimonials/zuzana_wienk.jpg" class="center-block" alt="Zuzana Wienk, programová riaditeľka Aliancia Fair-play">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Zuzana Wienk, programová riaditeľka Aliancia Fair-play</h3>
              <p>
                Je výborné, že vzniklo zoskupenie, ktoré sa rozhodlo sústredene pozerať do oblasti, na ktorú sa už "pozerať nedalo". So Slovensko.Digital sa výborne spolupracuje a kombinácia systematickosti, rozumu, humoru a ľudskosti je podmanivá. Držím palce do ďalších rokov.
              </p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="/img/birthday/testimonials/simon_sicko.jpg" class="center-block" alt="Šimon Šicko, Pixel Federation">
          <div class="carousel-caption">
            <div class="carousel-caption-holder">
              <h3>Šimon Šicko, Pixel Federation</h3>
              <p>Podporovať Slovensko.Digital sa oplatí a robíme správnu vec. Zároveň je to projekt s najvyššou ROI. V roku 2016 sa podarilo ušetriť tomuto štátu 250 miliónov eur a dať do povedomia obyčajných ľudí, že je tu niekto, komu záleží na tom, aby sa nekradlo a veci išli podľa jasných a transparentných pravidiel.
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
